{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ admin.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ admin.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ admin.password }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ admin.role }}</td>
            </tr>
            <tr>
                <th>Profilepic</th>
                <td>{{ admin.profilePic }}</td>
            </tr>
            <tr>
                <th>Numnurlscreated</th>
                <td>{{ admin.numNurlsCreated }}</td>
            </tr>
            <tr>
                <th>Numnotescreated</th>
                <td>{{ admin.numNotesCreated }}</td>
            </tr>
            <tr>
                <th>Datemembersince</th>
                <td>{% if admin.dateMemberSince %}{{ admin.dateMemberSince|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Bio</th>
                <td>{{ admin.bio }}</td>
            </tr>
            <tr>
                <th>College</th>
                <td>{{ admin.college }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ admin.company }}</td>
            </tr>
            <tr>
                <th>Interests</th>
                <td>{{ admin.interests }}</td>
            </tr>
            <tr>
                <th>Isprivate</th>
                <td>{% if admin.isPrivate %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_edit', { 'id': admin.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
