{% extends 'base.html.twig' %}

{% block body %}
    <div class="frozen_nurls_container">
        <div class="reported_against_nurls">
            <u><h3 class="page">Reported Nurls</h3></u>
            <hr>
        {% if nurls is defined %}
            {% for nurl in nurls %}
                {% if nurl.isReportedAgainst == true %}
                    <hr>
                    <tr>
                        <td><h2><em><u>{{ nurl.title }}</u></em></h2></td>
                        {% if nurl.author == null %}
                            <td><u>Publisher</u>: Anonymous</td><br>
                        {% else %}
                            <td><u>Publisher</u>: <a href="{{ path('user_show', { 'id': nurl.author.id }) }}">{{ nurl.author.username }}</a></td><br>
                        {% endif %}
                        <td><u>URL</u>: <a target="_blank" href="{{ nurl.link }}">{{ nurl.link }}</a></td><br>
                        <td><u>Original Source</u>: {{ nurl.source }}</td><br>
                        <td><u>Created</u>: {{ nurl.dateCreated | date('Y-m-d H:i:s') }}</td><br>
                        <td><u>Last Edited</u>: {{ nurl.dateLastEdited | date('Y-m-d H:i:s') }}</td><br>
                        <hr style="border-top: dotted 2px;" />
                        <td><b><u>Reason reported against</u>: {{ nurl.reportedAgainstReason }}</b></td><br>
                        <td><b><u>Email of user who reported it</u>: {{ nurl.emailOfReporter }}</b></td><br>
                        <td><b><u>Time Nurl was reported</u>: {{ nurl.timeReported | date('Y-m-d H:i:s') }}</b></td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('nurl_decide', { 'id': nurl.id }) }}">Make a decision</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <hr>
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
        <div class="propsed_by_anon_nurls">
            <u><h3 class="page">Anonymous Nurls</h3></u>
            <hr>
        {% if nurls is defined %}
            {% for nurl in nurls %}
                {% if nurl.isProposedByAnonymous == true %}
                    <hr>
                    <tr>
                        <td><h2><em><u>{{ nurl.title }}</u></em></h2></td>
                        <td><u></u></td>
                        <td><u>Publisher</u>: Anonymous</td><br>
                        <td><u>URL</u>: <a target="_blank" href="{{ nurl.link }}">{{ nurl.link }}</a></td><br>
                        <td><u>Original Source</u>: {{ nurl.source }}</td><br>
                        <td><u>Created</u>: {{ nurl.dateCreated | date('Y-m-d H:i:s') }}</td><br>
                        <td><b>Anonymous</b> says:</td><br>
                        <td><em>"{{ nurl.note }}"</em></td><br><br>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('nurl_decide', { 'id': nurl.id }) }}">Make a decision</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <hr>
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
    </div>

    <style>
        .frozen_nurls_container {
            display: flex;
        }

        .reported_against_nurls {
            width:50%;
            border-right: inset;
        }

        .propsed_by_anon_nurls {
            width:50%;
        }

        .page {
            text-align: center;
        }

    </style>
{% endblock %}