{% extends 'base.html.twig' %}

{% block body %}
    <u><h3 class="page">{{ app.user.username }}'s Nurls</h3></u>
    <hr>
    {% if nurls is defined %}
        {% for nurl in nurls %}
            {% if nurl.author != null %}
            {% if nurl.author.id == app.user.id %}
                <hr>
                <tr>

                    <td><h2><em><u>{{ nurl.title }}</u></em></h2></td>
                    <td><u>Publisher</u>: <a href="{{ path('user_show', { 'id': nurl.author.id }) }}">{{ nurl.author.username }}</a></td><br>
                    <td><u>URL</u>: <a target="_blank" href="{{ nurl.link }}">{{ nurl.link }}</a></td><br>
                    <td><u>Original Source</u>: {{ nurl.source }}</td><br>
                    <td><u>Created</u>: {{ nurl.dateCreated | date('Y-m-d H:i:s') }}</td><br>
                    <td><u>Last Edited</u>: {{ nurl.dateLastEdited | date('Y-m-d H:i:s') }}</td><br><br>
                    <td><b><a href="{{ path('user_show', { 'id': nurl.author.id }) }}">{{ nurl.author.username }}</a></b> says:</td><br>
                    <td><em>"{{ nurl.note }}"</em></td><br><br>
                    <td><u>Upvotes received</u>: {{ nurl.numVotes }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('nurl_edit', { 'id': nurl.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <hr>
            {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {#---------------CSS-------------------#}
    <style>
        .page {
            text-align: center;
        }

    </style>
    {#---------------CSS-------------------#}
{% endblock %}
