{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Roles</th>
                <th>Username</th>
                <th>Password</th>
                <th>Profilepic</th>
                <th>Numnurls</th>
                <th>Numnotes</th>
                <th>Membersince</th>
                <th>Bio</th>
                <th>College</th>
                <th>Company</th>
                <th>Interests</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.roles }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.profilePic }}</td>
                <td>{{ user.numNurls }}</td>
                <td>{{ user.numNotes }}</td>
                <td>{% if user.memberSince %}{{ user.memberSince|date('Y-m-d') }}{% endif %}</td>
                <td>{{ user.bio }}</td>
                <td>{{ user.college }}</td>
                <td>{{ user.company }}</td>
                <td>{{ user.interests }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
