{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <table>
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            {% if user.isPrivate == false %}
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Bio</th>
                    <td>{{ user.bio }}</td>
                </tr>
            {% elseif user.id == app.user.id %}
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Bio</th>
                    <td>{{ user.bio }}</td>
                </tr>
            {% else %}
                This user is private!
            {% endif %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
