{% extends 'base.html.twig' %}

{% block body %}
    <u><h3 class="page">{{ app.user.username }}'s Collections</h3></u>
    <hr>
    {% if collections is defined %}
        {% for collection in collections %}
            {% if collection.author.id == app.user.id %}
                <div class="collection_holder">
                    <div class="left_collection">
                        <tr>
                            <td><h2><em><u>{{ collection.title }}</u></em></h2></td>
                            <td><u>Publisher</u>: <a href="{{ path('user_show', { 'id': collection.author.id }) }}">{{ collection.author.username }}</a></td><br>
                            <td><b>{{ collection.author.username }}</b> says:</td><br>
                            <td><em>"{{ collection.description }}"</em></td><br><br>
                        </tr>
                        <li>
                            <a href="{{ path('collection_show', { 'id': collection.id }) }}">show</a>
                        </li>
                    </div>
                    <hr>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {#---------------CSS-------------------#}
    <style>
        .page {
            text-align: center;
        }

        .collection_holder {
            width:100%;
        }

        .left_collection {
            width: 20%;
        }

    </style>
    {#---------------CSS-------------------#}
{% endblock %}
