{% extends 'base.html.twig' %}

{% block body %}
<br>
    <tr>
        <td><h2><em><u>{{ collection.title }}</u></em></h2></td>
        <td><u>Publisher</u>: <a href="{{ path('user_show', { 'id': collection.author.id }) }}">{{ collection.author.username }}</a></td><br>
        <td><b>{{ collection.author.username }}</b> says:</td><br>
        <td><em>"{{ collection.description }}"</em></td><br><br>
    </tr>

    <div class="inner_collection">
    {% if nurls is defined %}
        {% for nurl in nurls %}
            <div class="right_collection">
                <tr class="nurl_holder">
                    <td><h4 class="coll_nurl_title"><em><u>{{ nurl.title }}</u></em></h4></td>
                    <td><u>Publisher</u>: <a href="{{ path('user_show', { 'id': nurl.author.id }) }}">{{ nurl.author.username }}</a></td><br>
                    <td><u>URL</u>: <a target="_blank" href="{{ nurl.link }}">{{ nurl.link }}</a></td><br>
                    <td><u>Original Source</u>: {{ nurl.source }}</td><br>
                    <td><u>Upvotes received</u>:
                        {% if nurl.numVotes == -1 %}
                            No votes yet :-(
                        {% else %}
                            {{ nurl.numVotes }}
                        {% endif %}
                    </td><br>
                    <td><u>Tags</u>:
                        {% for tag in nurl.tags %}
                            {{ tag.tagvalue }}
                        {% endfor %}
                    </td><br>
                </tr>
            </div>
        {% endfor %}
    {% endif %}
    </div>

    <ul>

        <li>
            <a href="{{ path('collection_edit', { 'id': collection.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    {#---------------CSS-------------------#}
    <style>

        .right_collection {
            border-style: dashed;
            border-width: 1px;
            width:100%;
            padding: 0.2rem;
            flex-wrap: wrap;
        }

        .coll_nurl_title {
            width:10%;
        }

        .inner_collection {
        }

    </style>
    {#---------------CSS-------------------#}
{% endblock %}
